<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('navbar'); -%>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Welcome, <%= username %></p>
    <p>Here you will find all the information you need to learn a new language.</p>
    <p>Click on the links above to navigate through the website.</p>
    <p>Enjoy your time here!</p>
    <p>Don't forget to check out our <a href="/exercises">exercises</a>!</p>
    <p>Don't have an account yet? <a href="/register">Register here</a>!</p>
    <p>Already have an account? <a href="/login">Login here</a>!</p>
    <p>Want to go back to the <a href="/">homepage</a>?</p>
</body>
</html>